
h1.odd{color: grey;}
h1.even {color: blue;}
ul.edu{color: grey; font-size: 30pt;}
li.ye{color: black; font-size: 12pt;}
li.de{color: red; font-size: 12pt;}
ol.tim{list-style-type:upper-roman; font-size:16px;}
table.tft {
    border-style: double;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
td:hover {
background-color: green;}

p.footer {color: grey; background-color: blue;
}

ul.fonts{
font-family:verdana,courier;}